apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: ${TRAINING_NAMESPACE}
  name: ${TRAINING_APP_NAME_2}
spec:
  selector:
    matchLabels:
      app: ${TRAINING_APP_NAME_2}
  replicas: 1
  template:
    metadata:
      labels:
        app: ${TRAINING_APP_NAME_2}
    spec:
      nodeName: worker-node-2
      containers:
        - name: ${TRAINING_APP_NAME_2}
          image: ${REGISTRY}/${ECR_REPO_FOLDER}:${DOCKER_IMAGE_NAME}
          env:
            - name: LOCAL_ADDR
              value: ${TRAINING_APP_NAME_2}.${TRAINING_NAMESPACE}.svc.cluster.local
            - name: LOGLEVEL
              value: "DEBUG"
            - name: TORCH_DISTRIBUTED_DEBUG
              value: "DETAIL"
            - name: NCCL_DEBUG
              value: "DEBUG"
            - name: TORCH_NCCL_ENABLE_MONITORING
              value: "1"
            - name: TORCH_NCCL_DEBUG_INFO_TEMP_FILE
              value: "/local/nccl_trace_rank_"
          command:
                - bash
                - -c
                - "${CMD}"
          resources:
            limits:
              nvidia.com/gpu: ${GPU_PER_WORKER}
      imagePullSecrets:
      - name: ${IMAGE_PULL_SECET}

---

apiVersion: v1
kind: Service
metadata:
  namespace: ${TRAINING_NAMESPACE}
  name: ${TRAINING_APP_NAME_2}
spec:
  clusterIP: None
  ports:
    - name: c10d
      port: ${RDZV_PORT}
      protocol: TCP
  selector:
    app: ${TRAINING_APP_NAME_2}